<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Model</th>
            <th scope="col">Engine Power</th>
            <th scope="col">Fuel</th>
            <th scope="col">Range</th>
            <th scope="col">Segments</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let truck of trucks">
            <td>{{truck.model}}</td>
            <td>{{truck.enginePower}}</td>
            <td>{{truck.fuel}}</td>
            <td>{{truck.range}}</td>
            <td>
                <div *ngIf="truck.segments && truck.segments.length > 0; else emptySegments">
                    <span *ngFor="let segment of truck.segments"
                        class="badge badge-pill badge-primary">{{segment.description}} </span>
                </div>
                <ng-template #emptySegments>
                    <p>No Segments Added.</p>
                </ng-template>
            </td>
            <td>
                <div class="col px-2">
                    <app-truck-modal-edit [truck]="truck"></app-truck-modal-edit>
                    <app-truck-delete-modal [truck]="truck"></app-truck-delete-modal>
                </div>
                <div class="col px-2">
                </div>
            </td>
        </tr>
    </tbody>
</table>

<div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="totalElements" [(page)]="page" [pageSize]="pageSize"
        (pageChange)='onPageChanged($event)'>
    </ngb-pagination>
    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (change)="itemsPerPageEvent()">
        <option [ngValue]="5">5 items per page</option>
        <option [ngValue]="10">10 items per page</option>
        <option [ngValue]="20">20 items per page</option>
    </select>
</div>