<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Model</th>
            <th scope="col">Engine Power</th>
            <th scope="col">Fuel</th>
            <th scope="col">Segments</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let truck of trucks">
            <td>{{truck.model}}</td>
            <td>{{truck.enginePower}}</td>
            <td>{{truck.fuel}}</td>
            <td>
                <div *ngIf="truck.segments && truck.segments.length > 0; else emptySegments">
                    <span *ngFor="let segment of truck.segments"
                        class="badge badge-pill badge-primary">{{segment.description}} </span>
                </div>
                <ng-template #emptySegments>
                    <p>No Segments Added.</p>
                </ng-template>
            </td>
            <td>
                <app-truck-modal-edit [truck]="truck"></app-truck-modal-edit>
            </td>
        </tr>
    </tbody>
</table>